.experiencia {
  position: relative;
  max-width: 1200px;
  padding: 100px 80px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

.linha {
  content: "";
  display: block;
  width: 10px;
  height: 3100px;
  background-color: #e94109;
  position: absolute;
  top: 300px;
  left: 25%;
}

.data {
  display: block;
  margin-top: 0px;
  position: absolute;
  left: 5%;
  text-align: end;
  justify-items: right;
}
.ano {
  font-size: 3rem;
  letter-spacing: 4px;
  line-height: 1;
}
.mes {
  font-family: "IBM Plex Mono";
  font-size: 2rem;
  letter-spacing: 4px;
  line-height: 1;
}

.experiencia-conteudo {
  margin-top: 100px;
  margin-left: 30px;
  margin-bottom: 80px;
  padding-left: 25%;
  position: relative;
}
.experiencia-conteudo h2 {
  font-size: 2rem;
  letter-spacing: 6px;
  margin-bottom: 10px;
  position: relative;
}
.experiencia-titulo::before {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background-color: #e94109;
  margin-top: 0px;
  position: absolute;
  top: 45px;
  left: -70px;
}
.experiencia-subtitulo {
  font-family: "IBM Plex Mono";
  font-weight: 100;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 25px;
  line-height: 1;
}

.experiencia-conteudo p {
  margin: 15px 0;
}

.experiencia-conteudo ul {
  margin: 15px 0;
}

.experiencia-conteudo li::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 12px;
  background-color: #e94109;
  margin-right: 10px;
}

span {
  color: #e94109;
}


@media (max-width: 1200px) {
  .data {
    left: -5%;
  }
  .ano {
    font-size: 3rem;
    letter-spacing: 3px;
    line-height: 1;
  }
  .mes {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
}

@media (max-width: 800px) {
  .data {
    left: -6%;
  }
  .ano {
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 1;
  }
  .mes {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .experiencia-conteudo h2 {
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin-bottom: 10px;
  }
  .experiencia-titulo::before {
    top: 35px;
  }
  .experiencia-subtitulo {
    font-size: 1rem;
    letter-spacing: 1px;
  }
}

@media (max-width: 700px) {
  .data {
    left: -10%;
  }
}

@media (max-width: 600px) {
  .linha {
    display: none;
  }
  .data {
    display: none;
    top: 30px;
    left: -60px;
  }
  .ano {
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 1;
  }
  .mes {
    font-size: 1rem;
    letter-spacing: 0px;
  }

  .experiencia-titulo::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #e94109;
    margin-top: 0px;
    position: absolute;
    top: 35px;
    left: 0%;
  }
  .experiencia-conteudo {
    margin-left: 0px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .experiencia h1 {
    margin-bottom: 80px;
  }
}
