.formacao {
  max-width: 1200px;
  margin-top: 100px;
  padding: 80px 80px;
  margin: 0 auto;
}

.formacao-conteudo {
  margin-top: 60px;
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.card {
  padding: 30px 30px;
  background-color: #2e2e2e;
  position: relative;
}

.card::after {
  content: "";
  display: block;
  height: 40%;
  width: 5px;
  background-color: #e94109;
  position: absolute;
  top: 20px;
  right: -5px;
}

.certificado {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.formacao .ano {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 4px;
  margin: 20px 0;
}

@media (max-width: 1000px) {
  .formacao-conteudo {
    grid-template-columns: 1fr;
    margin-top: 80px;
  }
}
