.introducao {
  max-width: 1200px;
  padding: 80px 80px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}
.introducao-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.introducao-1 h1 {
  font-size: 4.5rem;
  line-height: 1.4;
  position: relative;
}

.introducao-1 span {
  font-weight: 600;
  color: #e94109;
}

.foto::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background-color: #e94109;
  margin-top: 15px;
}

.introducao-1_texto h1::before {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background-color: #e94109;
  margin-top: 0px;
  position: absolute;
  top: 90px;
}

.introducao-1_texto p {
  margin-top: 15px;
}

.introducao-2 {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 80px;
}

.introducao-2 h3 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.introducao-2 p {
  margin-top: 15px;
}

.introducao-2 span {
  font-weight: 600;
}

.introducao-2 ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introducao-2 li::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 12px;
  background-color: #e94109;
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .introducao {
    padding: 40px 80px;
  }
  .introducao-1 {
    align-items: end;
  }
  .introducao-1 h1 {
    font-size: 2rem;
  }
  .introducao-1_texto p {
    margin-top: 10px;
    font-size: 16px;
  }
  .introducao-1_texto h1::before {
    height: 5px;
  }
}

@media (max-width: 800px) {
  .introducao-1 {
    grid-template-columns: 1fr;
  }
  .foto {
    width: 60%;
  }
  .introducao-2 ul {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .introducao-2 {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .introducao-2 h3 {
    margin-bottom: 15px;
  }
  .foto {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .foto {
    display: none;
  }
  .introducao-1 h1 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .introducao-1_texto h1::before {
    width: 100%;
    height: 2px;
    background-color: #e94109;
    margin-top: 0px;
    position: absolute;
    top: 60px;
  }
  .introducao-2 h3 {
    font-size: 1.1rem;
    line-height: 1.2;
  }
}
